[submodule "jeelib"]
	path = libraries/jeelib
	url = https://github.com/jcw/jeelib
	branch = rf12mods
[submodule "wirelessweather"]
	path = libraries/wirelessweather
	url = https://github.com/SevenW/wirelessweather
[submodule "libraries/Time"]
	path = libraries/Time
	url = https://github.com/PaulStoffregen/Time
[submodule "libraries/DHTsensorlibrary"]
	path = libraries/DHTsensorlibrary
	url = https://github.com/adafruit/DHT-sensor-library
