[submodule "jeelib"]
	path = libraries/jeelib
	url = https://github.com/jcw/jeelib
	branch = rf12mods
[submodule "wirelessweather"]
	path = libraries/wirelessweather
	url = https://github.com/SevenW/wirelessweather
[submodule "DHT-sensor-library"]
	path = libraries/DHTSensorlibrary
	url = https://github.com/adafruit/DHT-sensor-library 
[submodule "libraries/Time"]
	path = libraries/Time
	url = https://github.com/PaulStoffregen/Time
